{% extends "base.html" %}

{% block extrahead %}
<meta property="robots" content="index, follow" />
<meta name="keywords" content="SAP LinuxLab, SAP automation, SAP Ansible, SAP Terraform, SAP linux, SAP Linux Lab, SAP Technology Partners">
<meta name="author" content="SAP LinuxLab open-source initiative">

<meta property="og:title" content="SAP LinuxLab open-source initiative" />
<meta name="description" content="Open-source by SAP Technology Partners, for SAP Customers and SAP Service Partners." />
<meta property="og:image" content="assets/img/sap_linuxlab_logo.png" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />
{% endblock %}
